<div class="header">
  <div class="wrap">
    <div class="logo">
     <a href="index.html"><%=image_tag "logo.png",  title: "pinbal" %></a>
    </div>
    <div class="nav-icon">
      <a href="#" class="right_bt" id="activator"><span> </span> </a>
    </div>
      
    <div class="top-searchbar">
      <form>
        <!-- <input type="text" /> -->
        <input ng-keyup="searchArtists(count);searchSongs(count);searchPlaylists(count);" ng-model="count" type="text">
      </form>
    </div>

    <div class="clear"> </div>
  </div>
</div>

<div>

  <div ng-if="artists" ng-hide="user">
    <h1>Artist</h1>
    <div ng-repeat="artist in artists">
      <div class="each-result" ng-click="searchSky(count)">

        <div>{{artist.account.name.first}}</div>
      </div>
    </div>
  </div>
  <div ng-if="songs" ng-hide="user">
    <h1>Song</h1>
    <div ng-repeat="song in songs">
      <div class="each-result" ng-click="searchSky(count)">
        <div>{{song.title}}</div>
      </div>
    </div>
  </div>
  <div ng-if="playlists" ng-hide="user">
    <h1>Playlist/Album</h1>
    <div ng-repeat="playlist in playlists">
      <div class="each-result" ng-click="searchSky(count)">
        <div>{{playlist.title}}</div>
      </div>
    </div>
  </div>
</div>

   
  
     