<div class="header">
  <div class="wrap">
    <div class="logo">
     <a href="index.html"><%=image_tag "logo.png",  title: "pinbal" %></a>
    </div>
    <div class="nav-icon">
      <a href="#" class="right_bt" id="activator"><span> </span> </a>
    </div>
      
    <div class="top-searchbar">
      <form>
        <!-- <input type="text" /> -->
        <input ng-keyup="searchArtists(count);searchSongs(count);searchPlaylists(count);" ng-model="count" type="text">
      </form>
    </div>

    <div class="clear"> </div>
  </div>
</div>

<div class = "row">
  <div class = "col-md-3 col-md-offset-1">




  <div ng-if="artists" ng-hide="user">
    <h1>Artist</h1>
    <div ng-repeat="artist in artists">
      <div class="each-result" ng-click="searchSky(count)">
        <img style='height: 50px;' src={{artist.account.avatar}}>
        <div style="display: inline;">{{artist.account.name.first}}</div>
      </div>
    </div>
  </div>
  <div ng-if="songs" ng-hide="user">
    <h1>Song</h1>
    <div ng-repeat="song in songs">
      <div class="each-result" ng-click="searchSky(count)">
        <img style='height: 50px;' src={{song.artists[0].avatar}}>
        <div style="display: inline;">{{song.title}}</div>
      </div>
    </div>
  </div>
  <div ng-if="playlists" ng-hide="user">
    <h1>Playlist/Album</h1>
    <div ng-repeat="playlist in playlists">
      <div class="each-result" ng-click="searchSky(count)">
        <img style='height: 50px;' src={{playlist.owner[0].avatar}}>
        <div style="display: inline;">{{playlist.title}}</div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-7">

    <div class="content">
      <div class="wrap">
       <div id="main" role="main" >
            <ul id="tiles">

              <!-- These are our grid blocks -->
              
            <li ng-repeat="sky in skys">
                  <img src={{sky}}>
               
              
               
            <!--     <img src="logo.png" width="200" height="200"> -->
                <div class="post-info">
                  <div class="post-basic-info">
                    <h3><a href="#">Animation films</a></h3>
                    <span><a href="#"><label> </label>Movies</a></span>
                    <p>Lorem Ipsum is simply dummy text of the printing & typesetting industry.</p>
                  </div>
                  <div class="post-info-rate-share">
                    <div class="rateit">
                      <span> </span>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
      </div>
    </div>


</div>
</div>