<div class="header">
	<div class="wrap">
	<div class="logo">
		<a href="index.html"><%=image_tag "logo.png",  title: "pinbal" %></a>
	</div>
	<div class="nav-icon">
		 <a href="#" class="right_bt" id="activator"><span> </span> </a>
	</div>
		  
	<div class="top-searchbar">
		<form>
			<input type="text" />
			<div style='background-color:red;'>hello</div>
		</form>
	</div>

	<div class="clear"> </div>
</div>